* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #333;
}

header,
footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 1rem;
}

header h1 {
  font-size: 2rem;
}

main {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  color: #000;
  margin-bottom: 1rem;
  font-weight: 500;
}

.summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  gap: 1rem;
}

.summary-item {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.summary-item h3 {
  color: #888;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  min-height: 2rem; /* Ensures consistent heading height */
  display: flex;
  align-items: center; /* Vertically centers the text */
}

.summary-item p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin-top: auto;
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

button:hover {
  background-color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

thead {
  background-color: #000;
  color: white;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

canvas {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

footer p {
  font-size: 0.875rem;
}

#table-- {
  height: 100px;
}
